@tailwind base;
@tailwind components;
@tailwind utilities;

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 2rem;
  padding: 1rem;
  place-items: center;
}

.tech-strip-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 20px 0;
}

.tech-strip {
  display: flex;
  animation: scroll 40s linear infinite;
  width: fit-content;
  gap: 4rem;
}

.tech-strip .flex {
  gap: 4rem;
  padding: 0 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
} 